#resultado{
    margin-top: 6px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    background-color: lightgreen ;
    /* background-image: ; */
    /* border: 4px solid burlywood; */
}