@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=swap');

.centrado{
    margin: 0 auto;
    text-align: center;
    padding: 18rem 0;
    font-family: 'Orbitron', cursive;
}
#reloj{
    color:black;
    font-size: 10em;
    margin-top: 40px;
}
#calendario{
    font-weight: bold;
    font-size: 30px;
    color: darkgrey
}